@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F5f5f5;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #444;
  padding: 2rem;
  border-radius: 40px;
  height: 95vh;
}

.todoscontainer {
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  height: 500px;
}

h1 {
  position: relative;
  top: -40px;
  color: rgb(179, 131, 226);
  font-size: 9rem;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0.75;
}

form {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.input::placeholder{
  color: #d5d5d5;
}

.todos {
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 400px;
  overflow: auto;
}

.todos li {
  border: 2px solid rgb(179, 131, 226);
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem;
}

.todos li.completed {
  color:  rgb(135, 15, 255);
  text-decoration: line-through;
}

li.dragging {
  opacity: 0.4;
}

small {
  color: #ffffff;
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
}
